 @media only screen and (min-width: 901px) and (max-width: 1400px) and (orientation: landscape){
   .left img {
     width: 100vh;
     height: 100vh;
   }

   .left {
     display: flex;
   }

   .left, .right,  {
     height: 100vh;
     margin: 0;
   }

   .about {
     margin: 2vh;
   }

   .social {
     margin: 2vh;
   }

   .social a {
     margin-right: 2vh;
   }
 }

  @media only screen and (min-width: 901px) and (orientation: portrait) {
    html {
      font-size: 16px;
    }

    .main {
      display: flex;
      flex-direction: column;
    }

    .left {
      justify-content: right;
    }

    .left, .right {
      width: 100vw;
      height: auto;
      overflow-y: visible;
    }

    .about {
      display: flex;
      flex-direction: column;
      margin: 2vw;
    }

    .left img {
      width: 100vw;
      height: auto;
    }

    .plants img {
      width: 30vw;
      height: auto;
    }

    .social {
      margin: 2vw;
    }

    .social a {
      margin-right: 2vw;
    }
  }

 @media only screen and (min-width: 701px) and (max-width: 900px) and (orientation: landscape) {
   .main {
     display: flex;
     flex-direction: column;
   }

   .left {
     justify-content: right;
   }

   .left, .right {
     width: 100vw;
     height: auto;
     overflow-y: visible;
   }

   .about {
     display: flex;
     flex-direction: column;
   }

   .left img {
     width: 100vw;
     height: 100vw;
   }

   .plants img {
     width: 30vw;
     height: auto;
   }
 }

 @media only screen and (min-width: 701px) and (max-width: 900px) and (orientation: portrait) {
   .main {
     display: flex;
     flex-direction: column;
   }

   .left {
     justify-content: right;
   }

   .left, .right {
     width: 100vw;
     height: auto;
     overflow-y: visible;
   }

   .about {
     display: flex;
     flex-direction: column;
   }

   .left img {
     width: 100vw;
     height: auto;
   }

   .plants img {
     width: 27vw;
     height: auto;
   }
 }

 @media only screen and (max-width: 700px) {
   html {
     width: 100vw;
     margin: 0;
   }

   .main {
     flex-direction: column;
     width: 100vw;
   }

   .about, .left, .right {
     width: 100vw;
     margin: 0;
   }

   .left img {
     width: 100vw;
     height: 100vw;
   }

   .right {
     height: auto;
     text-align: center;
     margin-top: 2vh;
   }

   ul {
     text-align: left;
     margin-top: 2vh;
     margin-bottom: 2vh;
   }

   header h1 {
     font-size: 10vw;

   }

   .plants {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
   }

   .plants img {
     width: 100vw;
     height: auto;
   }

   .social {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     margin: 4vh 0;
   }
 }
