@media only screen and (min-width: 901px) and (max-width: 1400px) {
  header p, h1 {
    margin: 0.5vh;
  }

  img {
    width: 90%;
  }
}

@media only screen and (min-width: 701px) and (max-width: 900px) and (orientation: landscape) {
  .main {
    display: flex;
    flex-direction: column;
    margin: 2vw 0;
  }

  .left {
    display: flex;
    flex-direction: row;
  }

  .left, .right {
    width: 96vw;
    height: auto;
    overflow-y: visible;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  .about p {
    width: 96vw;
  }

  img {
    height: 40vw;
    width: auto;
    margin-left: 3vw;
  }
}

@media only screen and (min-width: 701px) and (max-width: 900px) and (orientation: portrait) {
  header p, h1 {
    margin: 1vh 0;
  }

  .main {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
    margin: 1vh 0;
    height: auto;
    overflow-y: visible;
  }
}

@media only screen and (min-width: 501px) and (max-width: 700px)  {
  .main {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
    height: auto;
    overflow-y: visible;
  }

  img {
    width: 60vw;
    height: auto;
    margin: auto 0;
  }
}

@media only screen and (max-width: 500px) and (orientation: portrait){
  .main {
    flex-direction: column;
  }

  header h1, .intro h1 {
    font-size: 2.5rem;
    margin: 2vh 0;
  }

  header p {
    font-size: 2rem;
  }

  .left, .right {
    width: 100%;
    height: auto;
    overflow-y: visible;
  }

  img {
    width: 90vw;
    height: auto;
    margin: auto 0;
  }

  .social {
    align-items: center;
  }

  .social .fa-3x, .social h2 {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 901px) and (orientation: portrait) {
  html {
    font-size: 14px;
  }

  img {
    height: 40vh;
    width: auto;
  }

  .main {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
    height: auto;
    overflow-y: visible;
  }
}
