html {
  font-size: 12px;
}

body {
  font-family: "Bitter", helvetica, arial, sans-serif;
}

.bio {
  margin-top: 3vh;
  margin-bottom: 4vh;
}

header h1 {
  font-family: 'Limelight';
  font-size: 7rem;
  color: #142133;
}

/* .intro h1 {
  font-family: "Fira Sans", helvetica, arial, sans-serif;
  color: #949e79;
  font-size: 4rem;
  margin-top: 2vh;
} */

.main {
  display: flex;
}

.left {
  width: 50vw;
  display: flex;
  justify-content: center;
}

.right {
  width: 50vw;
  overflow-y: scroll;
  height: 100vh;
  background-color: white;
}

.about {
  margin: 4vh;
}

.plants {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vh;
}

h2 {
  font-size: 2.5rem;
  margin: 1vh 0;
}

h3 {
  font-size: 2rem;
  margin: 1vh 0;
}


.about header p {
  font-size: 1.5rem;
  line-height: normal;
  font-style: italic;
  color: #636168;
}

p {
  font-size: 1.5rem;
  line-height: normal;
}

ul {
  list-style-type: disc;
  margin: 0 2rem;
}

li {
  display: list-item;
  font-size: 1.5rem;
  margin: .2rem;
}

.left img {
  width: auto;
  height: 100vh;
}

.about img {
  width: 15vw;
  height: auto;
}

a {
  color: black;
  text-decoration: underline;
}

.social {
  display: flex;
  font-size: 1rem;
  margin: 2vh 2vw;
}

.social h2 {
  width: 20%;
  text-align: left;
  line-height: normal;
}

.social a {
  width: 5%;
  text-align: center;
  line-height: normal;
}
