html {
  font-size: 12px;
}

body {
  font-family: "Fira Sans", helvetica, arial, sans-serif;
  color: #142133;
  margin: 1vh 1vw;
}

header h1 {
  font-family: 'Limelight';
  font-size: 7rem;
  color: #142133;
  margin: 2vh auto;
  text-align: center;
  /* border-bottom: 1px solid #949e79; */
}

.intro h1 {
  font-family: "Fira Sans", helvetica, arial, sans-serif;
  color: #949e79;
  font-size: 4rem;
  margin-top: 2vh;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: space-between;
}

.left {
  width: 40vw;
}

.right {
  width: 60vw;
  overflow-y: scroll;
  height: 86vh;
}

.about {
  margin: 2vh 0;
}

.about {
  border-bottom: 1px solid #636168;
}

h2 {
  font-size: 4rem;
  margin: 2vh 0;
  color: #636168;
}

h3 {
  font-size: 2.5rem;
  margin: 2vh 0;
  color: #636168;
}

.main p {
  margin: 2vh 0;
  font-size: 1.5rem;
  color: #636168;
  line-height: normal;
}

ul {
  list-style-type: disc;
  margin: 2rem;
}

li {
  display: list-item;
  font-size: 1.5rem;
  margin: .25rem;
  color: #636168;
}

img {
  width: 70%;
  height: 50vh;
  width: auto;
  margin: 4vh 0;
}

a {
  color: #142133;
  text-decoration: underline;
}

.social {
  display: flex;
  justify-content: space-between;
  margin: 3vh 0;
  font-size: 2.5rem;
}

.social h2 {
  width: 20%;
  text-align: left;
  line-height: normal;
}

.social a {
  width: 20%;
  text-align: center;
  line-height: normal;
}
