html {
  font-size: 12px;
}

body {
  font-family: "Fira Sans", helvetica, arial, sans-serif;
  color: #142133;
  margin: 1vh 1vw;
}

header p {
  font-family: 'Limelight';
  font-size: 7rem;
  color: #142133;
  margin: 2vh auto;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: #949e79;
  font-size: 4rem;
}

.main {
  display: flex;
  justify-content: space-between;
}

.left, .right {
  width: 45vw;
  margin: 2vh 0;
}

h2 {
  font-size: 3.5rem;
  margin: 2vh 0;
  color: #142133;
}

h3 {
  color: #142133;
  font-size: 2.5rem;
  margin: 2vh 0;
}

.main p {
  margin: 1.5vh 0;
  font-size: 1.6rem;
  color: #636168;
}

img {
  width: 70%;
  height: auto;
  margin: 1vh 0;
}

a {
  color: #142133;
  text-decoration: none;
}

.social {
  display: flex;
  justify-content: space-between;
  margin: 3vh 0;
  font-size: 2.5rem;
  padding: 0 1vw;
}
